<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon name="chevron-back" size="large" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="plantForm">
    <ion-item>
      <ion-input
        name="name"
        id="name"
        label="Nom*"
        type='text'
        formControlName="name">
      </ion-input>
    </ion-item>
    <div class="form__error"
         *ngIf="plantForm.controls['name'].invalid && (plantForm.controls['name'].dirty || plantForm.controls['name'].touched)">
      <div class="form__error__message" *ngIf="plantForm.controls['name'].errors?.['required']">Le champs est
        obligatoire
      </div>
    </div>

    <ion-item>
      <ion-input
        name="species"
        label="Espèce"
        type="text"
        formControlName="species">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        name="website"
        label="Lien"
        type="text"
        formControlName="website">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        name="acquiredAt"
        label="Date d'acquisition"
        type="date"
        formControlName="acquiredAt">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        name="lastWatering"
        label="Date dernier du arrosage*"
        type="date"
        formControlName="lastWatering">
      </ion-input>
    </ion-item>
    <div class="form__error"
         *ngIf="plantForm.controls['lastWatering'].invalid && (plantForm.controls['lastWatering'].dirty || plantForm.controls['lastWatering'].touched)">
      <div class="form__error__message" *ngIf="plantForm.controls['lastWatering'].errors?.['required']">Le champs est
        obligatoire
      </div>
    </div>

    <ion-item>
      <ion-input
        name="wateringPeriod"
        label="Période d'arrosage (en jour)*"
        type="number"
        formControlName="wateringPeriod">
      </ion-input>
    </ion-item>
    <div class="form__error"
         *ngIf="plantForm.controls['wateringPeriod'].invalid && (plantForm.controls['wateringPeriod'].dirty || plantForm.controls['wateringPeriod'].touched)">
      <div class="form__error__message" *ngIf="plantForm.controls['wateringPeriod'].errors?.['required']">Le champs est
        obligatoire
      </div>
    </div>

    <ion-item>
      <ion-label>Emplacement</ion-label>
      <ion-radio-group formControlName="position">
        <ion-radio value="{{PlantPosition.INTERIOR.valueOf()}}">Intérieur</ion-radio>
        <ion-radio value="{{PlantPosition.EXTERIOR.valueOf()}}">Jardin</ion-radio>
      </ion-radio-group>
    </ion-item>

    <ion-item *ngIf="plantForm.controls['position'].value === PlantPosition.EXTERIOR.valueOf()">
      <ion-button (click)="getCoordinates()">Définir la position de la plante à mon emplacement</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Photos</ion-label>
      <ion-button (click)="addPhotoToGallery()">Ajouter une photo</ion-button>
    </ion-item>
  </form>


  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="3" *ngFor="let photo of newPlant.plantPhoto; index as position">
          <ion-img [src]="photo.webviewPath"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons>
      <ion-button [disabled]="plantForm.invalid" (click)="handleSubmit()" fill="solid" class="btn-full">Enregistrer
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button (click)="cancel()" color="danger" fill="solid" class="btn-full">Annuler</ion-button>
    </ion-buttons>
  </ion-content>

</ion-content>
