<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mes plantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list lines="full">
    <ion-item-sliding *ngFor="let plant of plantList">
      <ion-item>
        <ion-icon name="leaf" slot="start"></ion-icon>
        <ion-label >
          <div>{{plant.name}}</div>
        </ion-label>
        <ion-label class="list__inline">
          <ion-icon name="water" color="primary" size="small"></ion-icon>
          {{plant.lastWatering}}

        </ion-label>

        <ion-buttons>
          <ion-button [routerLink]="['/plant-detail', plant.id]" [state]="plant" slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="presentDeleteAlert(plant)">Supprimer</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
