<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mes plantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item-sliding *ngFor="let plant of plantList">
      <ion-item>
        <ion-avatar>
          <img *ngIf="plant.plantPhoto.length === 0" alt="Photo de la plante {{plant.name}}"
               src="{{plant.picturePath}}"/>
          <img *ngIf="plant.plantPhoto.length > 0" alt="Photo de la plante {{plant.name}}"
               src="{{plant.plantPhoto[0].webviewPath}}"/>
        </ion-avatar>
        <ion-label class="ml-2">
          <div>{{plant.name}}</div>
        </ion-label>
        <ion-label>
          <div class="items-center">
            <div>
              <ion-badge slot="start">
                <ion-icon name="water" size="small"></ion-icon>
              </ion-badge>
            </div>
            <div>{{dateService.formatDateToString(plantService.getWateringDate(plant))}}</div>
          </div>
        </ion-label>

        <ion-buttons>
          <ion-button [routerLink]="['/plant-detail', plant.id]" [state]="plant" slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="presentActionSheet(plant)">Arroser</ion-item-option>
        <ion-item-option color="danger" (click)="presentDeleteAlert(plant)">Supprimer</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
