

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="leaf"></ion-icon>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="title-between">
          <span>Bonjour {{currentUser.firstName}}!</span>
          <span title="Nombre de plantes"><ion-icon name="leaf"></ion-icon>
            {{nbPlants}} </span>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Vous avez {{nbPlantToWater}} Plantes à arroser aujourd'hui
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <h2>Les plantes à arroser</h2>

        <ion-card *ngFor="let plant of plantToWater" button="true" (click)="presentActionSheet(plant)">
          <img *ngIf="plant.plantPhoto.length === 0" alt="Photo de la plante {{plant.name}}" src="{{plant.picturePath}}"/>
          <img *ngIf="plant.plantPhoto.length > 0" alt="Photo de la plante {{plant.name}}"
               src="{{plant.plantPhoto[0].webviewPath}}"/>
          <div class="card__badge">
            <ion-badge class="card__badge__icon" slot="start">
              <ion-icon name="water" size="large"></ion-icon>
            </ion-badge>
          </div>
          <ion-card-header>
            <ion-card-title>{{plant.name}}</ion-card-title>
          </ion-card-header>

        </ion-card>


  </section>
</ion-content>
